@media (max-width: 1199px)
    .container
        width: 970px
        display: flex
        justify-content: center

    .feedback
        &-container
            
    .modal
        width: 100% 
        display: flex
        justify-content: center
        &__dialog
            width: 800px
            max-height: 767px
            overflow: scroll
            margin: 20px
        &-content
            display: flex
            flex-direction: column
        &-block1
            dispalay: flex
            max-width: 100%
        &-block2
            max-width: 100%
        &__hidden
            display: none
    .feedback2
        &-block1
            flex-basis: 50%

    .price
        display: flex
        flex-direction: row
        &-container
            flex-direction: column
            align-items: center
            justify-content: center
        &-wrap
            max-width: 970px
            align-items: center

    .info
        display: flex
        padding-bottom: 160px
        &-container
            display: flex
            flex-direction: column
            align-items: center
        &-wrap
            display: flex
            flex-wrap: wrap
            max-width: 700px
            align-items: center
            &__block
                margin-bottom: 50px
    .feedback2
        &-block1
            flex-basis: 55%


    .footer
        display: flex
        &-map
            flex-basis: 55%
        &-contacts
            margin-top: 60px
            margin-left: 60px


@media (max-width: 992px)
    .container
        width: 767px
        display: flex
        justify-content: center
        padding-left: 20px
        padding-right: 20px
    .header
        &-wrap
            justify-content: space-between
    .main
        &-text
            &__title
                font-size: 30px
                line-height: 36px
        &-image
            margin: auto
    .feedback
        background: #fff
        padding: 35px 0

    .modal
        width: 100% 
        &__dialog
            width: 767px
            height: 100%
            overflow: scroll

        &-content
            display: flex
            flex-direction: column
        &-block1
            dispalay: flex
            max-width: 100%
        &-block2
            max-width: 100%
        &__hidden
            display: none
    .feedback2
        background: none
        padding: 35px 0
        &:before
            min-width: 100%
        &-wrap
            display: flex
            flex-direction: column
        &-block1
            min-width: 100%
            &__subtitle
                margin-bottom: 30px
        &-advantages
            margin-bottom: 50px
        &-block2
            min-width: 100%
            display: flex
            justify-content: center
            margin-top: 90px
    .form2
        &__button
            margin-bottom: 5px
            background-color: #fff
    .price
        display: flex
        flex-direction: row
        &-container
            min-width: 850px
            flex-direction: column
        &-wrap
            max-width: 830px
            justify-content: space-around
    .info2
        &-title
            font-size: 25px

    .footer
        display: flex
        &-map
            flex-basis: 50%
        &-contacts
            margin-top: 45px
            margin-left: 45px
            
            
@media (max-width: 850px)    

    .price
        display: flex
        flex-direction: row
        &-container
            min-width: 750px
            flex-direction: column  
        &-wrap
            max-width: 830px
            align-items: center
            justify-content: center  
    .info
        &-container
            max-width: 750px
        &-wrap
            max-width: 680px
            &__block
                margin-bottom: 50px 
    .info2
        &-title
            font-size: 25px

    .footer
        display: flex
        flex-direction: column
        &-map
            flex-basis: 50%
            order: 2
        &-contacts
            margin-right: auto
            margin-left: auto
            order: 1
            width: 100%
            margin-top: 40px
            &__title
                max-width: 600px
                margin-right: auto
                margin-left: auto
                text-align: center   
        &-items
            display: flex
            flex-direction: row
            justify-content: space-around
            margin-top: 40px
        
@media (max-width: 768px)
    .hidden-xs
        display: none
    .container
        width: 100%
        display: flex
        justify-content: center
        padding-left: 20px
        padding-right: 20px
    .header
        &-wrap
            display: flex
            flex-direction: column
            justify-content: center
        &-logo
            margin-bottom: 10px
        &-text
            &__contacts
                line-height: 10px
            &__phone
                font-size: 13px
        &__button
            background-image: url('../img/feedback/phone.png')
            background-repeat: no-repeat
            background-position: center
            min-width: 48px
            min-height: 48px
        &-text
            &__contacts
                margin-right: 20px 
    .main
        &-text
            max-width: 400px
            margin: auto
            &__title 
                text-align: center 
        &-image
            margin: auto
    .feedback
        min-height: 700px
        padding-bottom: 0
    .form 
        max-width: 400px
        text-align: center
        display: flex
        flex-direction: column
        &-contacts 
            &__block-1
                justify-content: center
                margin-bottom: 15px
            &__block-2 
                display: flex
                justify-content: center
                margin-bottom: 20px
                &:before
                    display: none
        &__input
            &:first-child
                margin-right: 0
                margin-bottom: 20px 
    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 20px
        &-container
            min-width: 600px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 600px
            align-items: center
            justify-content: center 
    .info
        &-title
            font-size: 20px
        &-container
            max-width: 600px
        &-wrap
            max-width: 500px
            padding-bottom: 430px
            &__block
                margin-bottom: 50px   
    .info2
        &-title
            font-size: 25px

    .footer
        &-contacts
            display: flex
            &__text
                font-size: 13px
                font-weight: 300
                line-height: 20px
            &__title
                max-width: 500px
        
@media (max-width: 650px)
    .footer
        &-contacts
            &__items
                min-width: 188px
            &__title
                max-width: 400px
                font-size: 17px
        &-items
            margin-top: 30px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center


@media (max-width: 576px)
    .feedback
        min-height: 750px
    .form
        max-width: 400px     
        &-contacts 
        &__button
            display: flex
            justify-content: center
            align-items: center
            max-height: none
            padding: 20px
    .modal
        width: 100% 
        &__dialog
            width: 500px
            overflow: scroll
        &-block1
            display: none   
        &-block2
            max-width: 100%
        &__hidden
            display: none
    li 
        margin-left: 25px  

    .portfolio
        min-height: 770px

    .feedback2
        &-wrap
            max-width: 400px

    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 20px
        &-container
            min-width: 500px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 500px
            align-items: center
            justify-content: center 
    .info
        &-title
            font-size: 20px
        &-container
            max-width: 450px
        &-wrap
            max-width: 500px
            padding-bottom: 430px
            &__block
                margin-bottom: 50px 
    .info2
        &-title
            font-size: 25px

@media (max-width: 500px)
    .feedback2
        &-wrap
            max-width: 350px
    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 20px
        &-container
            min-width: 400px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 400px
            align-items: center
            justify-content: center 
    .info
        &-title
            font-size: 20px
        &-container
            max-width: 400px
        &-wrap
            max-width: 400px
            padding-bottom: 600px
            justify-content: space-around
            &__img
                max-width: 50px
                height: 50px
                background-size: 50%
            &__block
                max-width: 50%
                margin-bottom: 50px   
    .info2
        &-title
            font-size: 25px


@media (max-width: 450px)
    .feedback2
        &-wrap
            max-width: 300px

    .footer
        &-contacts
            &__title
                max-width: 300px
        &-items
            margin-top: 25px
            

@media (max-width: 400px)
    .feedback2
        &-wrap
            max-width: 250px
            margin: 10px
    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 20px
        &-container
            min-width: 300px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 300px
            align-items: center
            justify-content: center 
    .info
        &-title
            font-size: 20px
        &-container
            max-width: 300px
        &-wrap
            max-width: 300px
            padding-bottom: 700px
            justify-content: space-around
            &__img
                max-width: 50px
                height: 50px
                background-size: 50%
            &__block
                max-width: 50%
                margin-bottom: 50px   
        

@media (max-width: 320px)  
    .container
        width: 300px
    .feedback
        min-height: 750px
    .modal
        width: 100% 
        &__dialog
            width: 280px
            overflow: scroll
        &-block2
            &__items
                &-subtitle
                    text-align: center
        &__hidden
            display: none
    

        


