@media (min-width: 2560px)
    .footer
        display: flex
        &-map
            width: 55%
    .card
        max-width: 350px
        height: 390px
    

@media (max-width: 1440px)
    .main
        max-height: 530px
        &-img
            min-width: 120%
            max-height: 120%
            padding-bottom: 0
    .footer
        display: flex
        &-map
            width: 55%
    .card
        max-width: 350px
        height: 390px

@media (max-width: 1330px)
    .main
        max-height: 530px
        &-img
            padding-top: 40px
            min-width: 110%
            max-height: 110%
            padding-bottom: 0

@media (max-width: 1250px)
    .main
        max-height: 530px
        padding-top: 40px
        &-text
        &-img
            padding-top: 100px
            min-width: 100%
            max-height: 100%
            padding-bottom: 0
    .price
        display: flex
        flex-wrap: wrap
        &-container
            flex-direction: column
            align-items: center
            justify-content: center
    
@media (max-width: 1199px)
    .container
        width: 970px
        display: flex
        justify-content: center  
    .main
        max-height: 550px
        padding-top: 40px
        &-img
            padding-top: 100px
            min-width: 120%
            max-height: 120%
            padding-bottom: 0
        &-text
            &__title
                min-width: 100%
                font-size: 37px
    .header
        &-wrap 
            display: flex
            justify-content: space-between !important
    .modal
        width: 100% 
        display: flex
        justify-content: center
        &__dialog
            width: 800px
            max-height: 100%
            overflow: scroll
            margin: 20px
        &-content
            display: flex
            flex-direction: column
        &-block1
            dispalay: flex
            max-width: 100%
            min-height: 700px
        &-block2
            max-width: 100%
        &__hidden
            display: none
    .portfolio
        padding-bottom: 110px
    .feedback2
        &-block1
            flex-basis: 50%
    .info
        display: flex
        padding-bottom: 160px
        &-container
            display: flex
            flex-direction: column
            align-items: center
        &-wrap
            display: flex
            flex-wrap: wrap
            max-width: 700px
            
            &__block
                margin-bottom: 50px
    .feedback2
        &-block1
            flex-basis: 55%
    .footer
        display: flex
        &-map
            width: 55%
        &-contacts
            margin-top: 60px
            margin-left: 60px
    .info3
        &-wrap
            flex-wrap: wrap
            justify-content: space-around
            &__items
                margin-bottom: 30px
        &-wrap2
            margin-bottom: 50px
    .price
        &-wrap
            width: 970px
    .card
        max-width: 300px
        height: 360px
        margin: 5px
               
@media (max-width: 1110px)
    .main
        padding-top: 40px
        &-img
            padding-top: 100px
            min-width: 110%
            max-height: 110%
            padding-bottom: 0

@media (max-width: 1024px)
    .main
        
        &-img
            padding-top: 100px
            min-width: 100%
            max-height: 100%

@media (max-width: 992px)
    .container
        width: 767px
        display: flex
        justify-content: center
        padding-left: 20px
        padding-right: 20px
    .header
        &-wrap
            justify-content: space-between
    .main
        &-text
            min-width: 100% !important
            &__title
                font-size: 30px
                line-height: 36px
        &-image
            display: none
    .feedback
        background: #fff
        padding: 35px 0
    .form
        margin-left: auto
        margin-right: auto
        text-align: center
        &-contacts
            text-align: left
    .modal
        width: 100% 
        &__dialog
            width: 767px
            overflow: scroll
        &-content
            display: flex
            flex-direction: column
        &-block1
            dispalay: flex
            max-width: 100%

        &-block2
            max-width: 100%
        &__hidden
            display: none
    .feedback2
        background: none
        padding: 35px 0
        &:before
            min-width: 100%
        &-wrap
            display: flex
            flex-direction: column !important
        &-block1
            min-width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            &__subtitle
                margin-bottom: 30px
        &-advantages
            margin-bottom: 60px
        &-block2
            min-width: 100%
            display: flex
            justify-content: center
    .block1-title
        text-align: center
    .form2
        &__button
            background-color: #fff
    .price
        &-container
            max-width: 840px
            padding-left: 0
            padding-right: 0
        &-wrap
            max-width: 840px
            width: 100%
            display: flex
            justify-content: space-between
    .card
        max-width: 350px
        height: 390px 
    .info2
        &-title
            font-size: 25px
    .info3
        &-container
            width: 750px
        &-wrap
            width: 100%
            &__items
                max-width: 330px
    .footer
        display: flex
        flex-direction: column
        &-map
            width: 100%
            order: 2
        &-contacts
            margin-right: auto
            margin-left: auto
            order: 1
            width: 100%
            margin-top: 40px
            &__title
                max-width: 600px
                margin-right: auto
                margin-left: auto
                text-align: center   
        &-items
            display: flex
            flex-direction: row
            justify-content: space-around
            margin-top: 40px
                
@media (max-width: 850px)    
    .price
        display: flex
        flex-direction: row
        &-container
            max-width: 750px
            flex-direction: column  
            padding-left: 0
            padding-right: 0
        &-wrap
            max-width: 750px
            align-items: center
            justify-content: center 
    .card
        max-width: 350px
        height: 390px 
    .info
        &-container
            max-width: 750px
        &-wrap
            max-width: 680px
            &__block
                margin-bottom: 50px 
    .info2
        &-title
            font-size: 25px
        
@media (max-width: 768px)
    .hidden-xs
        display: none
    .container
        width: 100%
        display: flex
        justify-content: center
        padding-left: 20px
        padding-right: 20px
    .header
        &-wrap
            display: flex
            justify-content: space-between
        &-logo
            margin-bottom: 10px
        &-text
            &__contacts
                line-height: 10px
            &__phone
                font-size: 13px
        &__button
            background-image: url('/img/feedback/phone2.png')
            background-repeat: no-repeat
            background-position: center
            background-size: auto 18px,18px
            min-width: 48px
            min-height: 48px
        &-text
            &__contacts
                margin-right: 20px 
    .main
        &-text
            max-width: 400px
            margin: auto
            &__title 
                text-align: center 
        &-image
            margin: auto
            z-index: none
        &-img
            max-width: 100%
            max-height: 10%
    .feedback
        padding-bottom: 30px
    .form 
        margin: auto
        max-width: 500px
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        &-contacts 
            &__block-1
                justify-content: center
                margin-bottom: 15px
            &__block-2 
                display: flex
                justify-content: center
                margin-bottom: 20px
                &:before
                    display: none
        &__input
            width: 100%
            &:first-child
                margin-right: 0
                margin-bottom: 20px 
    .price
        display: flex
        flex-direction: column
        &-title
            margin-top: 50px
            margin-bottom: 30px
            font-size: 30px
        &-subtitle
            margin-bottom: 30px
        &-container
            max-width: 600px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 600px
            align-items: center
            justify-content: center 
    .info
        &-title
            margin-top: 50px
            font-size: 25px
            margin-bottom: 30px
        &-container
            max-width: 600px
        &-wrap
            max-width: 430px
            padding-bottom: 430px
            justify-content: space-around
            &__arrow
                display: none
            &__block
                margin-bottom: 50px   
    .info2
        &-title
            font-size: 25px
    .footer
        &-contacts
            display: flex
            &__text
                font-size: 13px
                font-weight: 300
                line-height: 20px
            &__title
                max-width: 500px
    .info3
        &-wrap
            padding-top: 50px
            &__items
                max-width: 350px
        &-wrap2
            margin-bottom: 50px
        &-title
            margin-top: 50px
            margin-bottom: 40px
            width: 400px
            font-size: 25px 
                  
    .feedback2
        &-block1
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &-block2
            margin-top: 0
            &__title
                font-size: 30px
                margin-bottom: 30px
    .block1-title
        text-align: center
    .form2
        &__input
            width: 100%
        &__button
            width: 100%

    .portfolio
        background-size: 100% 100%

@media (max-width: 767px) 
    .portfolio
        padding-top: 50px
        padding-bottom: 60px
    .feedback
        padding-bottom: 100px
    .form
        &-contacts
            &__text
                text-align: center
        
@media (max-width: 650px)
    .footer
        &-contacts
            &__items
                min-width: 188px
            &__title
                max-width: 400px
                font-size: 25px
        &-items
            margin-top: 30px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
    .price
        &-wrap
            width: 400px

@media (max-width: 576px)
    .form
        max-width: 400px     
        &__subtitle
            max-width: 300px
            margin-left: auto
            margin-right: auto
        &__button
            display: flex
            justify-content: center
            align-items: center
            max-height: none
            padding: 20px
    .modal
        width: 100% 
        &__dialog
            width: 500px
            overflow: scroll
        &-block1
            display: none   
        &-block2
            max-width: 100%
        &__hidden
            display: none
    li 
        margin-left: 25px  
    .feedback2
        &-wrap
            max-width: 400px
        &-advantages
            &__text
                line-height: 20px
        &-block1
            &__subtitle
                line-height: 25px
    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 25px
        &-container
            min-width: 500px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 500px
            align-items: center
            justify-content: center 
    .info
        &-title
            font-size: 25px
        &-container
            max-width: 450px
        &-wrap
            max-width: 500px
            padding-bottom: 430px
            &__block
                margin-bottom: 50px 
    .info2
        &-title
            font-size: 25px

@media (max-width: 500px)
    .header
        &-wrap
            display: flex
            flex-direction: column
            justify-content: center
    .feedback2
        &-wrap
            max-width: 350px
    .portfolio
        padding-bottom: 200px
        &-title
            max-width: 300px
            font-size: 27px
            line-height: 30px
            margin-right: auto
            margin-left: auto
    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 25px
            line-height: 30px
        &-container
            min-width: 400px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 400px
            align-items: center
            justify-content: center 
    .info
        padding-bottom: 30px
        &-title
            font-size: 20px
            line-height: 30px
        &-container
            max-width: 400px
        &-wrap
            max-width: 400px
            padding-bottom: 600px
            justify-content: space-around
            &__arrow
                display: none
            &__img
                max-width: 50px
                height: 50px
                background-size: 35%
            &__img-4
                background-size: 30%
            &__block
                max-width: 50%
                margin-bottom: 50px   
    .info2
        &-title
            font-size: 25px
            line-height: 30px
    .info3

        &-title
            width: 300px
            font-size: 25px
            line-height: 30px

@media (max-width: 450px)
    .price
        &-container
            min-width: 100%
        &-wrap
            margin: 0
            
    .feedback2
        &-wrap
            max-width: 300px
    .footer
        &-contacts
            &__title
                max-width: 300px
                font-size: 20px
        &-items
            margin-top: 25px
    .portfolio
        padding-bottom: 170px

@media (max-width: 400px)
    .main
        &-text 
            &__title
                font-size: 25px
            &__subtitle
                font-size: 20px
    .feedback2
        &-wrap
            max-width: 250px
            margin: 10px
    .price
        display: flex
        flex-direction: column
        &-title
            font-size: 20px
        &-container
            min-width: 300px
            flex-direction: column  
        &-wrap
            display: flex
            flex-direction: column
            max-width: 300px
            align-items: center
            justify-content: center 
    .card
        height: 350px
        &__img
            &-wrap
                height: 200px
                &:after
                    display: none
    .info
        padding-bottom: 250px
        &-title
            font-size: 20px
        &-container
            max-width: 300px
        &-wrap
            padding-bottom: 700px
            display: flex
            flex-direction: row
            &__img
                max-width: 50px
                height: 50px
            &__block
                min-width: 250px
                margin-bottom: 50px   
    .portfolio
        padding-bottom: 130px 
    .info3
        &-wrap
            &__items
                max-height: 300px
                max-width: 260px
            &__text
                font-size: 13px
                font-weight: 300
                line-height: 18px
                width: 180px
                margin-left: 16px
                margin-top: 16px
                
@media (max-width: 350px)  
    .modal-block2__items-form
        margin-left: auto
        margin-right: auto
        max-width: 250px
    .modal__input
        min-width: 100%
                    

@media (max-width: 320px)  
    .container
        width: 300px
    .feedback
        min-height: 750px
    .modal
        width: 100% 
        &__dialog
            width: 280px
            overflow: scroll
        &-block2
            &__items
                &-subtitle
                    text-align: center
        &__hidden
            display: none
    .portfolio
        padding-bottom: 100px
        &-title
            max-width: 300px
            font-size: 23px
            line-height: 30px
    .info3
        &-title
            width: 250px
            font-size: 20px
            line-height: 25px
    

        


