.portfolio
    background-color: $light-bg-color
    padding: 100px 0
    background: url('../img/portfolio/Прямоугольник.png')
    max-height: 740px
.slider
    &__item
        text-align: center
        height: 280px
        margin-right: 30px
        img
            margin: auto

.slick-slide
    max-height: 280px

.arrow
    width: 45px
    height: 19px
    position: absolute
    bottom: -68px
    &_right
        left: 50%
        background: url('../img/portfolio/right-arrow.png') no-repeat center 
        background-size: 100%
    &_left
        left: 50%
        transform: translate(-45px)
        margin-left: -30px
        background: url('../img/portfolio/left-arrow.png') no-repeat center 
        background-size: 100%
